<!DOCTYPE html>
<html style="background-color: #AED4E5">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='estilos1.css')}}" />
<div align="center">

<form   style="background-color: black;" class="box" action = "/action_registro" method="POST">
<p style="color: white;">Registro</p>

<div>
<p><img width="70" height="70" src="{{ url_for('static', filename='img/registro.png') }}"></p>
</div>
<input type = "text" name="usuario" placeholder="Usuario" required>
<input type = "text" name="correo" placeholder="correo" required>
<input type = "password" name="password" placeholder="contraseña" required>
<button class="btn3" type = "submit"> Registrar </button>
<br>
<a style="color: white;" href="{{url_for('login')}}">Ya tienes cuenta? Ingresa aqui!</a>
</form>
</div>
</html>